body { 
  padding-top: 120px;
  background-color: #D8D8D8;
}

textarea {
  resize:vertical;
}

.description {
    font-size: 18px;
    font-weight: 200;
    text-align: center;
}

.points {
    background-color: #39D1B4 ;
    color: #fff;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    font-weight: 200;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    position: relative;
    right: 2%;
}

/*Inicio custom sign in*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/*Fin custom sign in*/

/*Inicio custom footer*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #989898;
}
/*Final custom footer*/
