<html>
    <%- include header %>
    <body>
        <%- include nav %>
        <% if(content!==''){ %>
        <%- include(content) %>
        <% } %>
        <%- include footer %>
    </body>
</html>