<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-nav pull-left">
          <a class="navbar-brand" href='/articles'>
            <img alt="WVTFB" src='../../img/Beer-icon-small.png'>
          </a>
        </div>
        <ul class="nav navbar-nav pull-right">
            <% if ( user ) { %>
            <li><p class="navbar-text">Hello </p></li>
            <li role='presentation' class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <%= user %>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                    <li><a href='/user/<%= id %>' class="navbar-link">My Menu</a></li>
                    <li><a href='/articles/<%=id%>' class="navbar-link">My Posts</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout" class="navbar-link">Logout</a></li>
                </ul>
            </li>
            <% } else { %>
                <li><a href="/register" class="navbar-link">Register</a></li>
                <li><a href="/login" class="navbar-link">Login</a></li>
            <% } %>
        </ul>
    </div>
</nav>
<% for(var i in messages) { %>
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Warning!</strong> <%= messages[i] %>
</div>
<% } %>